// .features-section {
//   padding-bottom: 60px;
// }

.features {
  display: block;
  @media screen and (min-width: 1600px) {
    display: flex;
    justify-content: center;
  }
}

.features__item {
  @media screen and (min-width: 1600px) {
    width: 270px;
  }
}

.features__item:not(:first-child) {
  margin-top: 30px;
  @media screen and (min-width: 1600px) {
    margin-left: 30px;
    margin-top: 0;
  }
}

.features__image {
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1600px) {
    width: 270px;
  }
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-main);
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  @media screen and (min-width: 1600px) {
    text-align: start;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
  margin-top: 10px;
}
