.footer-subscribe {
  margin-top: 60px;
  text-align: center;
  @media screen and (min-width: 1600px) {
    margin: 0;
    text-align: start;
  }
}

.footer-subcribe__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subcribe__form {
  @media screen and (min-width: 1600px) {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
}

.footer-subcribe__input {
  width: 450px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  @media screen and (min-width: 1600px) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-subscribe__button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--brand-color-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.footer-subscribe__icon {
  margin-left: 10px;
  fill: #fff;
}
