.footer-contacts {
  text-align: center;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

// .footer-contacts .footer-list-item:not(:last-child) {
//   margin-bottom: 9px;
// }

// @media screen and (max-width: 1600px) {
//   .footer-contacts .footer-list-item:not(:last-child) {
//     margin-bottom: 8px;
//   }
// }

.footer-contacts__adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: #ffffff;
}

.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #acacb0;
  text-decoration: none;
  transition: color var(--timing-function);
  &:hover,
  &:focus {
    color: var(--brand-color-focus);
  }
}
