.footer {
  background-color: var(--brand-background-color);
  padding: 60px 0;
}

// .footer-container {
//   display: flex;
//   @media screen and (max-width: 767px) {
//     display: block;
//   }
// }

// .footer-wrap {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.footer-container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}
