.site-contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: none;
  // margin-left: auto;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.site-contacts__item:not(:last-child) {
  margin-right: 30px;
}

.site-contacts__link {
  color: var(--brand-color-text);
  text-decoration: none;
  display: flex;
  transition: color var(--timing-function);
  align-items: center;
  &:hover,
  &:focus {
    color: var(--brand-color-focus);
  }
  &:hover .site-contacts__icon,
  &:focus .site-contacts__icon {
    fill: var(--brand-color-focus);
  }
}

.site-contacts__icon {
  fill: var(--brand-color-text);
  transition: fill var(--timing-function);
  margin-right: 10px;
}
