.hero {
  max-width: 100%;
  max-height: 400px;
  padding: 118px 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      transparent
    ),
    url(../images/head-tab.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 480px) {
    // max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        transparent
      ),
      url(../images/head-mob.jpg);
  }
  @media screen and (min-width: 768px) {
    // max-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        transparent
      ),
      url(../images/head-desk.jpg);
  }
  @media screen and (min-width: 1600px) {
    padding: 200px 0;
    max-width: 1600px;
    min-height: 600px;
  }
}

.hero__title {
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1600px) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
