.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--brand-color-main);
  text-align: center;
  padding: 40px 40px 0 40px;
}

.modal-form {
  padding: 0 40px;
  margin-top: 12px;
}

.modal-label-wrap {
  margin-top: 4px;
  position: relative;
}

.modal-form-input {
  width: 370px;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--timing-function);
  &:hover {
    cursor: pointer;
  }
  &:focus {
    border-color: var(--brand-color-focus);
  }
  &:focus + .modal-lable-icon {
    fill: var(--brand-color-focus);
  }
  @media screen and (min-width: 1600px) {
    width: 448px;
  }
}

.modal-form-comment {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  @media screen and (min-width: 1600px) {
    width: 448px;
  }
}

.modal-label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--brand-color-text);
  &:not(:first-child) {
    margin-top: 10px;
  }
}

.modal-lable-icon {
  fill: var(--brand-color-main);
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--timing-function);
}
