.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.modal {
  width: 528px;
  min-height: 581px;
  @media screen and (max-width: 767px) {
    width: 450px;
    min-height: 609px;
  }
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-close {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover .modal-close-icon {
    fill: var(--brand-color-focus);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
