.portfolio-gallery {
  margin-top: 40px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1600px) {
    width: 1200px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio-gallery__item {
  transition: box-shadow var(--timing-function);
  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .portfolio-gallery__over-text {
    transform: translateY(0);
  }
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1600px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.portfolio-gallery__overlay {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.portfolio-gallery__image {
  width: 450px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1600px) {
    width: 370px;
  }
}

.portfolio-gallery__over-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--timing-function);
  padding: 77px 24px;
  @media screen and (min-width: 768px) {
    padding: 49px 24px;
  }
  @media screen and (min-width: 1600px) {
    padding: 63px 24px;
  }
}

.portfolio-gallery__card {
  width: 450px;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 0 20px 24px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1600px) {
    width: 370px;
  }
}

.portfolio-gallery__main {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-main);
}

.portfolio-gallery__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
}
