.services__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--brand-color-main);
  text-align: center;
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  padding-bottom: 94px;
}

.services-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.services-list__text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding: 27px 0;
  background-color: rgba(47, 48, 58, 0.8);
}
